.venv/
mlruns/
mlartifacts/
mlflow.db
__pycache__/
*.py[cod]
*.csv
*.xlsx
*.pkl

outputs/
data/outputs/
lstm_original_data/**/checkpoint.weights.h5
lstm_residuals_cnn_hybrid/**/checkpoint.weights.h5
*.h5
*.json
